@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
footer p {
  padding: 0;
  margin: 0;
  word-spacing: 0;
  color: white;
  background: #191b1c;
  width: 100%;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: white;
}

.highlighted-logo {
  filter: invert(59%) sepia(32%) saturate(5336%) hue-rotate(123deg) brightness(96%) contrast(101%);
  height: 2.5rem;
  width: 2.5rem;
  pointer-events: none;
}

header {
  position: fixed;
  border-right: solid #494a4b 1px;
  display: flex;
  flex-direction: column;
  width: 75px;
  height: 100%;
  background: #191b1c;
  align-items: center;
  min-height: 32rem;
  top: 0;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1rem;
  height: 100%;
}

.portfolio-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #00c483;
  width: 100%;
  padding: 0.2rem;
  height: 75px;
  font-size: xx-large;
  font-family: "Roboto", sans-serif;
}

.portfolio-logo img {
  width: 50px;
}

.nav-logo {
  height: 2.5rem;
  width: 2.5rem;
  filter: invert(73%) sepia(4%) saturate(607%) hue-rotate(144deg) brightness(89%) contrast(89%);
}

.nav-logo:hover {
  filter: invert(59%) sepia(32%) saturate(5336%) hue-rotate(123deg) brightness(96%) contrast(101%);
}

nav a {
  height: 9%;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}

main {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 96.1%;
  min-height: 100%;
  height: 32rem;
  left: 75px;
}

body {
  overflow-x: hidden;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
  margin: 1.5rem 1.5rem;
  font-size: 3rem;
  padding-bottom: 1rem;
}

section {
  width: 100%;
  height: auto;
}

p {
  color: #8f8d91;
  font-family: "Roboto", sans-serif;
  width: 80%;
  margin: auto;
  font-size: 1.2rem;
  line-height: 2.2rem;
  word-spacing: 3.5px;
  padding-bottom: 1.5rem;
}

article {
  background-color: #191b1c;
  padding: 3rem 3rem 2rem 0.5rem;
  border-bottom: solid #494a4b 1px;
  text-align: center;
}

h3 {
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
  margin: 1rem 1rem;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #191b1c;
}

body::-webkit-scrollbar-thumb {
  background: #494a4b;
  border-radius: 20px;
  border: 3px solid #191b1c;
}

.social-links {
  filter: invert(73%) sepia(4%) saturate(607%) hue-rotate(144deg) brightness(89%) contrast(89%);
  height: 64px;
  width: 64px;
  margin-right: 0.2rem;
  padding-right: 1rem;
}

.social-links:hover {
  filter: invert(59%) sepia(32%) saturate(5336%) hue-rotate(123deg) brightness(96%) contrast(101%);
}

#social-class {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 96.1%;
  padding: 0;
  z-index: 2;
  background: #191b1c;
}

.article-icon {
  filter: invert(100%) sepia(0%) saturate(7437%) hue-rotate(34deg) brightness(103%) contrast(103%);
  margin-bottom: 1rem;
  height: 64px;
  width: 64px;
}

@media only screen and (max-width: 400px) {
  #social-class {
    padding-right: 2rem;
  }
}
@media only screen and (max-width: 50px), screen and (max-width: 833px) {
  p {
    font-size: 1rem;
  }
  .contact-details {
    width: 96.1%;
  }
  article {
    padding-top: 1rem;
  }
  h3 {
    position: relative;
    padding-top: 1rem;
    right: 0.5rem;
  }
  main {
    position: fixed;
    overflow-y: scroll;
  }
  .portfolio-section {
    display: none;
  }
  #social-class {
    width: 100%;
    border: none;
    padding-top: 1rem;
  }
  .nav-text {
    display: none;
  }
  img .contact-me-icon {
    width: 10px;
    height: 10px;
  }
  a {
    text-decoration: none;
  }
  .contents-display-single-row h3 {
    margin: 0;
    background-color: #191b1c;
    padding-top: 2rem;
  }
  .contents-display-single-row h1 {
    font-family: "Roboto", sans-serif;
    color: #00c483;
    text-align: center;
    height: auto;
    font-size: 1rem;
    line-height: 2rem;
    padding-bottom: 1rem;
  }
  footer p {
    padding-right: 1rem;
  }
}
@media screen and (min-width: 834px) {
  .contents-display-single-row h1 {
    display: none;
  }
  .contact-info h1 {
    font-family: "Roboto", sans-serif;
    color: #00c483;
    text-align: center;
    height: auto;
    font-size: 1rem;
    line-height: 2rem;
  }
  a {
    text-decoration: none;
  }
  article {
    padding: 1rem 3rem 1rem 3rem;
  }
  .contents-display-single-row {
    border-right: solid 1px #494a4b;
    margin-left: 50%;
    width: 60vw;
    background: #191b1c;
    text-align: center;
  }
  .contents-display-double-row {
    display: flex;
    flex-direction: row;
    width: 60vw;
    flex-wrap: wrap;
    margin-left: 50%;
  }
  .contact-details {
    display: none;
  }
  .phone-screen-title {
    display: none;
  }
  .wide-screen-border-settings {
    border-right: solid #494a4b 1px;
    padding: 3rem 3rem;
    text-align: center;
    padding: 2rem;
    width: 30vw;
  }
  html {
    background-color: black;
  }
  header {
    top: 10%;
    height: 80%;
  }
  body, main {
    margin-left: 3rem;
  }
  main {
    width: 50%;
  }
  #social-class {
    padding-top: 1rem;
    width: 60vw;
    border-right: solid 1px #494a4b;
  }
  p {
    width: 100%;
  }
  .portfolio-section {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 25%;
    height: 100%;
    background-image: url(../images/ErkanK-2021-6719.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: flex-end;
  }
  .social-links {
    margin-left: 1.5rem;
  }
  .contact-info {
    margin-top: 1rem;
    padding: 0;
    width: 100%;
    font-size: 1.5rem;
  }
  .contact-info h3 {
    font-size: 1rem;
    padding: 0;
  }
  .contact-info {
    background-color: rgba(25, 27, 28, 0.7529411765);
    padding: 1rem;
  }
  .nav-text {
    color: white;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-size: 0.7rem;
    text-align: center;
    border-bottom: white solid 1px;
  }
  nav a {
    height: 40px;
    margin: 0;
    padding: 0;
  }
  h3 {
    margin: 0;
    padding-top: 2rem;
    background: rgba(25, 27, 28, 0.7529411765);
  }
}/*# sourceMappingURL=stylesheet.css.map */