$main-background-color-1: #191b1c;
$non-highlighted-logo-filter-value: invert(73%) sepia(4%) saturate(607%) hue-rotate(144deg) brightness(89%) contrast(89%);
$highlighted-logo-filter-value: invert(59%) sepia(32%) saturate(5336%) hue-rotate(123deg) brightness(96%) contrast(101%);

@mixin logo-size-mobile {
    height: 2.5rem;
    width: 2.5rem;
}

@mixin display-flex-settings {
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.highlighted-logo {
    filter: $highlighted-logo-filter-value;
    @include logo-size-mobile();
    pointer-events: none;
}

header {
    position: fixed;
    border-right: solid #494a4b 1px;
    @include display-flex-settings();
    // padding-top: 1rem;
    width: 75px;
    height: 100%;
    background: $main-background-color-1;
    align-items: center;
    min-height: 32rem;
    top: 0; 
}

nav {
    @include display-flex-settings();
    justify-content: center;
    padding-bottom: 1rem;
    height: 100%;
}

.portfolio-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #00c483;
    width: 100%;
    padding: .2rem;
    height: 75px;
    font-size:xx-large;
}

.nav-logo {
    @include logo-size-mobile();
    filter: $non-highlighted-logo-filter-value;
}

.nav-logo:hover {
    filter: $highlighted-logo-filter-value;
}

nav a {
    height: 9%;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    position: absolute;
    background-color: #191b1c;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 96.1%;
    height: 100%;
    min-height: 32rem;
    left: 75px;
}

body {
    overflow-x: hidden;
}



